<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650326163788-rdn53s1u400dlf9iu0rh82371qnmenvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650326163788-rdn53s1u400dlf9iu0rh82371qnmenvh</string>
	<key>PLIST_VERSION</key>
	<string>2</string>
	<key>BUNDLE_ID</key>
	<string>com.nathanjchan.dothething</string>
</dict>
</plist>
